<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dx.anonymousmessenger">
    <!-- <uses-feature -->
    <!-- android:name="android.hardware.camera" -->
    <!-- android:required="false" /> -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" /> <!-- <uses-feature android:name="android.software.leanback" -->
    <!-- android:required="false" /> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- suppress DeprecatedClassUsageInspection -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission-sdk-23 android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".DxApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/notification"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".MyProfileActivity" />
        <activity android:name=".PictureViewerActivity" />
        <activity android:name=".RingingActivity" />
        <activity android:name=".CallActivity" />
        <activity android:name=".AddContactActivity" />
        <activity android:name=".VerifyIdentityActivity" />
        <activity android:name=".MyIdentityActivity" />
        <activity android:name=".SetupInProcess" />
        <activity android:name=".MessageListActivity">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AppActivity" />

        <receiver android:name=".NotificationHiderReceiver" />
        <receiver
            android:name=".NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".AudioRecordingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".CallService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".DxCallService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".CreateUserActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>