<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dx.anonymousmessenger">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />

    <uses-permission-sdk-23 android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission-sdk-23 android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".DxApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        android:extractNativeLibs="true">
        <activity android:name=".qr.SimpleScannerActivity" />
        <activity android:name=".NotepadActivity" />
        <activity android:name=".FileViewerActivity" />
        <activity android:name=".TipsActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".ContactProfileActivity" />
        <activity android:name=".LicenseActivity" />
        <activity android:name=".MyProfileActivity" />
        <activity android:name=".PictureViewerActivity" />
        <activity android:name=".RingingActivity" />
        <activity android:name=".CallActivity" />
        <activity android:name=".AddContactActivity" />
        <activity android:name=".VerifyIdentityActivity" />
        <activity android:name=".MyIdentityActivity" />
        <activity android:name=".SetupInProcess" />
        <activity
            android:name=".MessageListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation" />
        <activity android:name=".AppActivity" />
        <activity android:name=".CreateUserActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NotificationHiderReceiver" />
        <receiver
            android:name=".StartMyServiceAtBootReceiver"
            android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".BootReminderService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".AudioRecordingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".CallService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".DxCallService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>